{%- from "saltdocker/map.jinja" import config with context %}
[Unit]
Description=MariaDB for the alcali service
After=docker.service
Requires=docker.service


[Service]
TimeoutStartSec=0
EnvironmentFile={{ config.location }}/alcali.env
User={{ config.user.name }}
Group={{ config.group.name }}
Restart=always
ExecStartPre=-/usr/bin/docker stop mariadb
ExecStart=/usr/bin/docker run --rm --env-file {{ config.location }}/alcali.env -v {{ config.location }}/mariadb/data:/var/lib/mysql -p 3306:3306 --name mariadb --hostname mariadb {{ config.docker.mariadb }}

[Install]
WantedBy=multi-user.target
